.form {
    margin-top: 20px;
    background-image: url("../images/background.gif");
    background-repeat: round;
    color: hsl(240, 100%, 81%);
    border-radius: 5px;
    padding: 15px;
}

.form__labelText {
    width: 150px;
    display: inline-block;
    margin-right: 5px;
}

.form__fieldset {
    border: 1px solid hsl(240, 69%, 75%);
    padding: 20px;
    border-radius: 5px;
    margin: 15px;
}

.form__fieldsetInput {
    border: 1px solid hsl(240, 69%, 75%);
    padding: 5px;
    max-width: 100%;
    border-radius: 5px;
}

.form__button {
    width: 100%;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid hsl(240, 84%, 80%);
    padding: 5px;
    border-radius: 5px;
    color: hsl(242, 100%, 85%);
}

.form__button:hover {
    border: 1px solid hsl(187, 67%, 40%);
    cursor: pointer;
}

.form__result {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid hsl(240, 67%, 75%);
    padding: 5px;
    border-radius: 5px;
    color: hsl(242, 100%, 85%);
    text-align: center;
}

.form__note {
    font-size: 0.85em;
}

.form__legend {
    width: 90%;
    border: 1px solid hsl(240, 67%, 75%);
    padding: 5px;
    border-radius: 5px;
    color: hsl(242, 100%, 85%);
    text-align: center;

}